h1, h4 {
    color:#FFFFFF;
}

a {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration-line: none;
}

table {
    color: #FFFFFF;
    margin-top: 15vh;
    border-collapse : collapse;
  }
   td {
    background: rgba(0, 0, 0, 0.664);
  }

  th {
    background: rgba(0, 0, 0, 0.877);
    font-weight: bold;
    font-size: 20px;

  }

  th, td {
    padding: 8px;
  }
  
  .tr:hover {
    background: #d1d1d1;
  }

[class*=underlay] {
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
}

.underlay-photo {
    animation: hue-rotate 4s infinite;
    background: url('https://pbs.twimg.com/media/CTuxGyCWEAAkyIb.jpg');
    /* background-size: cover; */
    -webkit-filter: grayscale(30%);
    z-index: -1;
}
.underlay-black {
    background: rgba(0,0,0,0.7);
    z-index: -1;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,300);


body, html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color:#FFFFFF;
}


@keyframes hue-rotate {
    from {
      -webkit-filter: grayscale(30%) hue-rotate(0deg);
    }
    to {
      -webkit-filter: grayscale(30%) hue-rotate(360deg);
    }
}

textarea, select, option, input {
    color:#000000;
}

.button {
  border: 0;
  outline: 0;
  padding: 7px 10px;
  margin: 3px;
  float: left;
  display: block;
  border-radius: 2px;
  font-weight: 500;
  background: #fff;  
  color: #34495e;
  outline: none;
}
